.prod-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* ארבעה עמודות */
    grid-gap: 10px; /* רווח בין התאים */
    width: 80%;
    height: 100%;
}

@media (max-width: 800px) {
    .prod-area {
        grid-template-columns: repeat(2, 1fr); /* שניים אם המסך קטן */
    }
}

@media (max-width: 500px) {
    .prod-area {
        grid-template-columns: 1fr; /* אחד אם המסך קטן מאוד */
    }
}

.product {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5%;
    box-shadow: 3px 3px 5px gray;
    font-family: Arial, Helvetica, sans-serif;
}

.pbutton {
    background-color: #6a0dad;
    /* צבע סגול כהה */
    color: white;
    /* צבע טקסט לבן */
    padding: 15px 30px;
    /* רווח פנימי */
    border: none;
    /* ללא גבול */
    border-radius: 30px;
    /* קצוות עגולים */
    font-size: 16px;
    /* גודל גופן */
    cursor: pointer;
    /* מצביע על כפתור */
    transition: background-color 0.3s;
    /* אפקט מעבר חלק */
    margin-top: auto;
}


.pbutton:hover {
    background-color: #a75db9;
    /* צבע סגול בהיר יותר בעת ריחוף */
}

.pimg {
    width: 100%;
    /* התמונה תתאים לרוחב ה-div */
    height: auto;
    /* גובה יישמר לפי היחס */
    max-height: 150px;
}

.sidebar {
    width: 20%;
    border: #6a0dad 3px solid;
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.container {
    display: flex;
    flex-direction: row;
}

h2, p{
    margin: 0%;
}


.sidebar-button{
    margin: 10%;
}


header {
    display: flex;
    flex-direction: column;
    align-items: center; /* מרכז אופקית */
    justify-content: center;
    text-align: center;
    background-color: #6a0dad;
    border: #6a0dad 3px solid;
    border-bottom: #a75db9 5px solid;
    margin-bottom: 5px;
}

.logo {
    width: 90px;
    height: 90px;
    margin-bottom: 10px; /* רווח בין התמונה לכותרת */
    border-radius: 50%;
}

h1 {
    font-size: 24px;
    margin: 0;
}
