
body {
    background-image: url("./images/background3.jpg");
    background-repeat: no-repeat; /* לא לחזור על התמונה */
    background-size: cover; /* לכסות את כל הרקע */
    background-attachment: fixed; /* להחזיק את התמונה במקומה */
    background-position: center; /* למרכז את התמונה */
    height: 100vh; /* גובה הדף */
    margin: 0; /* ביטול רווחים */
}


.prod-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* ארבעה עמודות */
    grid-gap: 10px; /* רווח בין התאים */
    width: 80%;
    height: 100%;
}

@media (max-width: 800px) {
    .prod-area {
        grid-template-columns: repeat(2, 1fr); /* שניים אם המסך קטן */
    }
}

@media (max-width: 500px) {
    .prod-area {
        grid-template-columns: 1fr; /* אחד אם המסך קטן מאוד */
    }
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5%;
    box-shadow: 3px 3px 5px gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(to bottom, #d1a2f2, #ffffff 50px); /* גרדיאנט אנכי */
    text-align: center;
    transition: transform 0.3s ease;
    margin: 5px;
}

.product:hover {
    background: linear-gradient(to bottom, #d1a2f2 , #ffffff 70px);
    transform: scale(1.05); /* הגדלה של 5% */
    z-index: 1; /* מבטיח שהקוביה תהיה מעל השכבות האחרות */
}

.pbutton {
    background-color: #6a0dad;
    /* צבע סגול כהה */
    color: white;
    /* צבע טקסט לבן */
    padding: 15px 30px;
    /* רווח פנימי */
    border: none;
    /* ללא גבול */
    border-radius: 30px;
    /* קצוות עגולים */
    font-size: 16px;
    /* גודל גופן */
    cursor: pointer;
    /* מצביע על כפתור */
    transition: background-color 0.3s;
    /* אפקט מעבר חלק */
    margin-top: auto;
}


.pbutton:hover {
    background-color: #a75db9;
    /* צבע סגול בהיר יותר בעת ריחוף */
}

.pimg {
    width: 80%;
    /* התמונה תתאים לרוחב ה-div */
    height: auto;
    /* גובה יישמר לפי היחס */
    max-height: 100px;
}

.sidebar {
    width: 20%;
    border: #6a0dad 3px solid;
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.container {
    display: flex;
    flex-direction: row;
}

h2, p{
    margin: 0%;
}


.sidebar-button{
    margin: 10%;
}


header {
    display: flex;
    flex-direction: column;
    align-items: center; /* מרכז אופקית */
    justify-content: center;
    text-align: center;
    height: 150px; /* גובה ה-header */
    background: linear-gradient(135deg, #6a0dad, #8e44ad, #a75db9); /* גרדיאנט בגוונים שונים של סגול */
    border: #6a0dad 3px solid;
    border-bottom: #a75db9 7px solid;
    margin-bottom: 7px;
    color: white; /* צבע הטקסט */
    font-size: 2rem; /* גודל טקסט */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* צל לטקסט */
    animation: pulse 5s infinite alternate; /* אנימציה מתמשכת */
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05); /* אפקט ריחוף */
    }
}


.logo {
    width: 90px;
    height: 90px;
    margin-bottom: 10px; /* רווח בין התמונה לכותרת */
    border-radius: 50%;
    transition: transform 0.75s ease; /* מעבר חלק */
}

.logo:hover {
    transform: rotate(360deg); /* סיבוב של 360 מעלות */
}

h1 {
    font-size: 24px;
    margin: 0;
}
